<div class="mt-5 p-4 border border-gray-300 rounded-lg">
  <h2>
    <strong>Title:</strong>
    <%= post.title %>
  </h2>

  <h2>
    <strong>Body:</strong>
    <%= post.body %>
  </h2>

  <p class="text-blue-800">
    <%= link_to "Show this post", post %>
  </p>
</div>
